/bankamatik.py
/btk_python_1.py
/btk_python_2.py
/btk_python_3.py
/dil_ceviri_deneme.py
/errors_demo.py
/faktoriyel.txt
/faktoriyel_deneme.py
/files.py
/OOP_quiz.py
/pdf_converter.py
/Python-Cookbook-3rd-Edition.pdf
/python_cheat_sheat.pdf